.gradle/
build/
out/
.git/
.gitignore
.idea/
.vscode/
*.iml
*.log
docs/
docker/postgres/
docker/minio/
docker/opensearch/
docker/kafka/
README.md
Dockerfile*
docker-compose*.yml
.env*
!src/
!gradle/
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
